<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Adornment  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090802

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>INCOMON:HOME</title>
<link href="static/css/style1.css" rel="stylesheet" type="text/css" media="screen" /> 
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">INCOMON   </a></h1>
			<p> Guide for <a href="http://www.freecsstemplates.org/">Providing Financial Literacy</a></p>
		</div>
		<div id = "login/signup">
			<button type="submit" href="index.html" class="btn btn-primary">login/singup</button>
		</div>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="invoice.html">Welcome to INCOMON, Your Previous Session Details</a></h2>
				<p class="meta">Posted by <a href="#"></a> on March 10, 2008
					 &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
				<p> You can View your preious session's details.You can save this session's details in form of PDF.Once you Begin New session this session's details will be replaced by current session's details.
				</p> 
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="main2.html">Begin New Session</a></h2>
				<div class="entry">
					<p>Here You Can Calculate your Current Assesment Year Income Tax Liable.Following Information and documents will be needed before Proceeding to Calculate your Income Tax. 
						<ul>
							<li><strong>Income from Salary and Income certificate</strong></li>
							<li><strong>Capital Gains</strong></li>
							<li><strong>Bank Account Deposits Estatements FD+PPF+SAVINGS</strong></li>
							<li><strong>Information related to various forms</strong></li>
							<li><strong>House rent details</strong></li>
							<li><strong>Children School and Tuition Fee receipts</strong></li>
							<li><strong>Income from House Property</strong></li>
							<li><strong>Agricultural Income Details</strong></li>
							<li><strong>Tax Already Paid (TDS Certificates)</strong></li>
							<li><strong>Medical Insurance and Life Insurance papers</strong></li>
						</ul>
					</p>
				</div>
			</div>

		<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>INCOMON</h2>
					<p>Provding Financial Literacy To Common Man!</p>
				</li>
				<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Sessions</a></li>
						<li><a href="#">Latest Notifications</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Important Sections</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>
				<li>
					<h3>Information About Each Calculator sub-section</h3>
					<ul>
						<li><a href="#">HRA Calculator</a></li>
						<li><a href="#">Gross Income from Salary Calculator</a></li>
						<li><a href="#">Taxable Income Calculation</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<li>
					<h2>Forms</h2>
					<ul>
						<li><a href="#">Form 16</a></li>
						<li><a href="#">TDS Certificate/Form-26AS</a></li>
						<li><a href="#">Form 15G</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	</body>
</html>
