<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Adornment  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090802

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>INCOMON:HOME</title>
<link href="static/css/style1.css" rel="stylesheet" type="text/css" media="screen" /> 
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1 style="color:cyan;">INCOMON</h1>
			<p style="color:cyan;"> Guide for Providing Financial Literacy</a></p>
		</div>
		<form method="POST">
		<div id = "login/signup">
			<button type="submit" href="index.html" style="float: right;" class="btn btn-primary">login/singup</button>
		</div>
	</form>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
				<h2 class="title">What is INCOMON</a></h2>
				<p class="meta">
					 &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
				<p> INFO TO BE WRITTEN....
				</p> 
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="">How does INCOMON WORK?</a></h2>
				<div class="entry">
					<p>Here You Can Calculate your Current Assesment Year Income Tax Liable.Following Information and documents will be needed before Proceeding to Calculate your Income Tax. 
					INFO YET TO BE WRITTEN...
					</p>
				</div>
			</div>

		<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>INCOMON</h2>
					<p>Provding Financial Literacy To Common Man!</p>
				</li>
				<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Sessions</a></li>
						<li><a href="#">Latest Notifications</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Important Sections</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>
				<li>
					<h3>Information About Each Calculator sub-section</h3>
					<ul>
						<li><a href="#">HRA Calculator</a></li>
						<li><a href="#">Gross Income from Salary Calculator</a></li>
						<li><a href="#">Taxable Income Calculation</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<li>
					<h2>Forms</h2>
					<ul>
						<li><a href="#">Form 16</a></li>
						<li><a href="#">TDS Certificate/Form-26AS</a></li>
						<li><a href="#">Form 15G</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	</body>
</html>
